gradio_client==0.15.0
pypdf==3.17.4
sentence_transformers==2.2.2
transformers==4.39.3
langdetect==1.0.9
deep-translator==1.11.4
qdrant_client==1.9.0
langchain-community==0.0.13 
langchain==0.1.1 